﻿<%@ page title="" language="VB" masterpagefile="~/MasterPage.master" autoeventwireup="false" inherits="WbReimpLiquida, App_Web_frkzveic" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>

<%@ Register src="controles/Creditos/WbUCReimpLiq.ascx" tagname="WbUCReimpLiq" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:WbUCReimpLiq ID="WbUCReimpLiq1" runat="server" />
</asp:Content>

