<%@ control language="vb" autoeventwireup="false" inherits="Cuwflash1, App_Web_vq1a2ztf" %>
<style type="text/css">
    .style1
    {
        width: 89%;
        height: 305px;
    }
</style>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<table cellpadding="0" cellspacing="0" 
    class="style1">
    <tr>
        <td>
            <asp:Label ID="Label1" runat="server" Font-Names="Calibri" Font-Size="10pt" 
                Font-Bold="True"></asp:Label>
        </td>
    </tr>
</table>

